<div class="flex-container-account">
  {{#each user}}
    <div class="flex-child-account">
      <h1>Welcome, {{this.first_name}}</h1>
      <br />
      <a href="" class="account-link"><p>Account Information</p></a><br />
      {{! <a href="" class="account-link"><p>Order History</p></a><br> }}
      <a href="/logout" class="account-link"><p>Log Out</p></a>
    </div>
    <div class="vl-account"></div>
    <div class="flex-child-account">
      <h3>Account Information</h3><br /><br />
      <span>Username: {{this.email}}</span>
    </div>
  {{/each}}
</div>