<div class="flex-container-cart">
  <div class="flex-child-cart">
    <h1 style="text-align: center;">Shopping Cart</h1><br />
    <hr />
    <br />
    {{#each carro}}
      <div class="row">
        <div class="col-2 imagen">
          <img
            src="{{this.img_src}}"
            alt=""
            style="width: 10rem; height: 10rem;"
          />
        </div>
        <div class="col-2 precio">
          <span class="cartlabel">Name:</span>
          <span>{{this.name}}</span><br />
          <span class="cartlabel">Price:</span>
          <span>{{this.price}}</span><br />
          <span><a class="btn btn-danger">Remove</a></span>
        </div>
      </div><br><br>
    {{/each}}
    <div class="btn btn-success checkout-btn" style="width: 10rem;">Check
      Out</div>
  </div>
</div>