<div class="flex-container-checkout">
  <div class="flex-child-checkout">
    <div class="cart">
      <div class="cart-header">
        {{! <div class="column1">Item</div>
        <div class="column2">Unit price</div>
        <div class="column3">Units</div> }}
      </div>
      <div class="cart-items">
        <!-- render cart items here -->
        <div class="cart-item">
          <div class="item-info">
            <img src="img/thumbnail1.png" alt="" class="thumb" />
            <h4>Sample 1</h4>
          </div>
          <div class="unit-price">
            <small>$</small>1000
          </div>
          <div class="units">
            <span class="btn minus">-</span>
            <span class="number">1</span>
            <span class="btn plus">+</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vl-checkout"></div>
  <div class="flex-child-checkout">
    <div class="cart-footer">
      <div class="subtotal">
        <h3>Subtotal (1 items): $1000</h3>
      </div>
      <div class="checkout"><br /><br />
        <button type="button" class="checkout-btn">Proceed to checkout</button>
      </div>
    </div>
  </div>
</div>