{{! Banner }}
<div class="container-fluid banner">
  <a href="/shop"><button class="banner-btn">Shop Now</button></a>
</div>

{{! Best sellers }}
<div class="container best-seller">
  <h1 class="bsh1">Best Sellers</h1>
  <div class="row">
    {{#each homepro}}
      {{#if home}}
        <div class="col-md">
          <img src="{{this.img_src}}" alt="" class="thumb item-image" />
          <h2
            class="text-success item-name"
            style="font-size:large; font=weight: 700;"
          >{{this.name}}</h2>
          <div
            class="text-success item-price"
            style="font-size:large; font=weight: 700;"
          >${{this.price}}</div>
          <a class="btn addbtn">
            <span class="hide-cart"><i
                class="fa-solid fa-cart-shopping nav-cart"
              ></i></span>
            Add to Cart</a>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! Sales }}
<div class="container-fluid sales-banner">
  <a href="/shop" class="btn btn-danger sales-btn">Shop Now</a>
</div>