<div class="flex-container-login">

  {{! Login }}
  <div class="flex-child-login">
    <h2>Login</h2><br />
    <hr>
    <br>
    <form action="/login" method="post" id="login-form">
      <label for="email">Email:</label><br />
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Email"
        value=""
      /><br />
      <br />
      <label for="password">Password:</label><br />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        value=""
      />
      <br /><br />
      {{#if error}}
        <p>{{error}}</p>
      {{/if}}
      <button type="submit" class="submit-button">Submit</button>
      <button type="reset" class="reset-button">Reset</button><br><br>
      <a href="/signup" class="text-success">Register</a>
    </form>
  </div>
</div>