<div>
  <div>
    <h2>Login</h2><br />
    <form action="/login" method="post" id="login-form">
      <label for="email">Email:</label><br />
      <input
        type="text"
        name="email"
        id="email"
        placeholder="enter your email"
        value=""
      /><br />
      <br />
      <label for="password">Password:</label><br />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="enter your password"
        value=""
      />
      {{#if error}}
        <p>{{error}}</p>
      {{/if}}
      <button type="submit" class="submit-button">Submit</button>
      <button type="reset" class="reset-button">Reset</button>
    </form><br />
  </div>
</div>